/* Common */
.tar {
    text-align: right;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(118, 199, 109);
  height: 150px;
  padding: 20px;
  color: #3a3838;
  text-transform: uppercase;
}

.compare-btn {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}